@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --fontInter:Inter,sans-serif;
    --fontOpensans: Open Sans;
    --fontIbm:IBM Plex Sans Hebrew;
    --vert:#618264;
    --marron:#443434;
    --noir:#000E01;
    --verrt:#79AC78;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    font-size:10px;
}
body{
    width: 100vw;
    height: 100vh;
}

@import "./style.css";