header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
}
nav ul li{
    font-size: 2.4rem;
}
button{
    font-weight: 700;
    background-color: green;
}



.section-6{
    width: 100%;
    margin-top: 12rem;
}

.section-6 h1{
    font-size: 4.8rem;
    font-family: var(--fontIbm);
    text-align: center;
    margin-bottom: 6rem;
}

.section-6_block-6{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
}

.section-6_block-6 .section-6_block-6_texte{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}

.section-6_block-6 .section-6_block-6_texte .h1{
    font-size: 4.8rem;
    font-weight: bold;
    font-family: var(--fontIbm);
    color: var(--verrt);
    text-align: left;
}

.section-6_block-6 .section-6_block-6_texte p{
    font-size: 2.4rem;
    font-family: var(--fontOpensans);
    width: 55.4rem;
}

.section-6 .deux .canal-matin{
    border-radius: 1.6rem;
    width: 68rem;
    height: 47rem;
}

.icones{display: flex; gap: 2rem; align-items:center;}

.section-7{
    margin: 2rem;
    width: 97vw;
}

.section-7>.block-7{
    display: flex;
    /* align-items:center; */
}

.section-7>.block-7>img{
    height: 50rem;
    width: 120%;
}
.section-7>.block-7>h1>.rect-1{
    height: 1.5rem;
    width: 5rem;
    border: 0px solid;
    background-color: var(--vert);
}

.section-7>.block-7>h1>.rect-2{
    height: 1.5rem;
    width: 5rem;
    border: 0px solid;
    background-color: var(--vert);
}

h1{
    display: flex;
    color:var(--vert);
    transform: rotate(-90deg);
    align-items: center;
}
.section-8{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2rem;
}

.section-8 p{
    font-family: var(--fontInter);
    font-size: 1.3rem;
    color: var(--verrt);
}

.section-8 h2{
    font-family: var(--fontIbm);
    font-size: 2.4rem;
    width: 33.9rem;
}

footer{
    height: 42.6rem;
    background-color: var(--vert);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.8rem;
    margin-top: 6.1rem;
}

.foot-log img{
    width: 37.2rem;
    height: 21.3rem;
}

.foot-con{
    display: flex;
    gap: 1.8rem;
}

@media screen and (max-width: 70rem){
    .section-6 .deux .canal-matin{width: 37rem; height: 20rem;}
    .section-6_block-6 .section-6_block-6_texte p{font-size: 1.5rem;width: 40rem;}
    .section-8>.section-8_enfant>img{height: 17rem; width: 17rem;}
    .section-8{overflow-x: auto; flex-wrap: nowrap; margin-left: 1rem;}
    .section-8 h2{font-size: 2rem;}
    .foot-log img{width: 25rem; height: 12rem;}
    footer{height: 30rem;}
    /* footer>.foot-con>img{height: 1rem; width: 1rem;} */
    .section-7{align-items: flex-start;}
    .section-7>.block-7{display: flex; flex-direction: column;gap: 1.5rem; align-items: center;}
    h1{transform: rotate(0deg); font-size: 2.4rem;}
    .section-7>.block-7>img{margin-left: 1rem;  height: 20rem; width: 100%;}
    .section-7>.block-7>h1>.rect-2{display: none;}
    .section-7>.block-7>h1>.rect-1{height: 5rem; width: 1.5rem;}
    .section-7>.block-7>h1{font-size: 1.7rem;}
}

